/* Общая верстка */
#wrapper{
    width:700px;
    margin: 0 auto;
}

#firstListBlock, #secondListBlock{
    width:49.5%;
    display: inline-block;
    vertical-align: top;
}

/* Кнопка */
.fillButton{
    width: 220px;
    padding:5px 0;
    font-size: 16px;
    display: block;
}

/* Списки элементов */
.outputList{
    margin: 10px 0;
    padding: 0;
    list-style: none;
    width: 260px;
}

.outputList li{
    padding: 3px;
    border-bottom:1px dashed #ddd;
}

/* Гифка загрузки */
.loading{
    width: 66px;
    height: 66px;
    margin: 30px 0 0 90px;
    background: url('loading.gif');
    display: none;
}